body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

table,
td,
th {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 3px;
}

table tbody {
  min-width: 500px;
}

tr {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
}

td:nth-child(4),
td:nth-child(3) {
  text-align: center;
}

.but button {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  cursor: pointer;
}

.but {
  padding: 0;
}

form {
  display: grid;

  max-height: 200px;
  min-width: 25%;
  max-width: 500px;
}
